.product-item__seller {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-system-gray);
}

@media screen and (min-width: 1024px) {
  .product-item__seller {
    margin-bottom: 2px;
  }
}
