.product-item__seller {
  margin: 0;
  padding: 9px 0 0;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-system-gray);
}

@media screen and (min-width: 1024px) {
  .product-item__seller {
    padding-top: 8px;
  }
}
