.product__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.product__checkbox:checked ~ .product__checkbox-decor {
  background-color: var(--color-system-magenta);
  background-image: url('../../../images/icons/icon-checkbox-check.svg');
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
