.product__accordion-header_hiden {
 transition: transform .1s;
}

.product__accordion-header::after {
  transform: rotate(45deg);
}

.product__accordion-header::before {
  transform: rotate(45deg);
}
