.card__radio {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.card__radio:checked ~ .card__radio-decor {
  border: 5px solid var(--color-system-magenta);
}
