.product-item__icons {
  margin: 0 12px 0 0;
  display: flex;
  gap: 24px;
}

@media screen and (min-width: 1024px) {
  .product-item__icons {
    margin: 0;
    /* display: none; */
    align-self: flex-end;
    gap: 16px;
  }
}
