.delivery__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.delivery__item:not(:last-child) {
  margin: 0 0 24px;
}

@media screen and (min-width: 1024px) {
  .delivery__item {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .delivery__item:not(:last-child) {
    margin-bottom: 17px;
  }
}
