.accordion {
  position: relative;
  padding: 12px 0 34px 0;
  width: 100%;
  min-height: 44px;
}

.accordion::after {
  content: '';
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #DEDEE1;
}

@media screen and (min-width: 1024px) {
  .accordion {
    padding: 14px 0 0;
  }
}
