.accordion {
  margin: 0 0 20px;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.accordion::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 8px;
  width: 12px;
  height: 10px;
  border-bottom: 2px solid var(--color-system-gray);
  transform: rotate(-45deg);
}

.accordion::before {
  content: '';
  position: absolute;
  top: 2px;
  right: 8px;
  width: 10px;
  height: 12px;
  border-left: 2px solid var(--color-system-gray);
  transform: rotate(-45deg);
}
