.header__link {
  position: relative;
  padding: 0;
  width: 56px;
  color: var(--color-system-white);
  text-decoration: none;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  transition: color .2s ease-out;
}

.header__link:hover {
  color: rgba(255, 255, 255, .7);
}
