.header__search-btn {
  position: absolute;
  display: block;
  top: 10px;
  right: 18px;
  width: 28px;
  height: 28px;
  background-color: #B697D5;
  -webkit-mask-image: url('../../../images/icons/icon-search.svg');
  mask-image: url('../../../images/icons/icon-search.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
}
