.pickup__radio-decor {
  box-sizing: border-box;
  flex-shrink: 0;
  display: block;
  margin: 7px 10px 0 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #CCC;
  border-radius: 100%;
  cursor: pointer;
}
