.basket-order__address {
  display: none;
}

@media screen and (min-width: 1024px) {
  .basket-order__address {
    display: block;
    margin: 0 0 4px 0;
    font-size: 13px;
    line-height: 16px;
  }
}
