.delivery__address-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

@media screen and (min-width: 1024px) {
  .delivery__address-wrapper {
    flex-direction: row;
    gap: 30px;
  }
}
