.popup-choose-pay {
  width: 100%;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .popup-choose-pay {
    width: 400px;
    height: 408px;
  }
}

@media screen and (min-width: 1400px) {
  .popup-choose-pay {
    width: 500px;
  }
}
