.discount {
  position: absolute;
  top: 19px;
  left: -150px;
  display: none;
  gap: 8px;
  padding: 11px 16px 13px;
  width: max-content;
  background-color: var(--color-system-white);
  border-radius: 8px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: 20;
}

.discount {
  top: 19px;
  left: -175px;
}
