.accordion__label {
  position: absolute;
  top: -11px;
  right: -7px;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  z-index: 20;
}

.accordion__label::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 15px;
  width: 12px;
  height: 10px;
  border-bottom: 2px solid var(--color-system-gray);
  transform: rotate(135deg);
  transition: all .2s ease-out;
}

.accordion__label:hover::after {
  border-color: #000;
}

.accordion__label::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 15px;
  width: 10px;
  height: 12px;
  border-left: 2px solid var(--color-system-gray);
  transform: rotate(135deg);
  transition: all .2s ease-out;
}

.accordion__label:hover::before {
  border-color: #000;
}

@media screen and (min-width: 1024px) {
  .accordion__label {
    top: -10px;
    right: -10px;
  }
}
