.popup__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: var(--color-system-white);
  border-radius: 0;
  width: 100%;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .popup__container {
    padding: 16px 24px 24px;
    width: 400px;
    border-radius: 16px;
    height: 408px;
  }
}

@media screen and (min-width: 1400px) {
  .popup__container {
    width: 500px;
    border-radius: 16px;
  }
}
