.product-item {
  position: relative;
  display: grid;
  grid-template-columns: 80px 1Fr;
  grid-template-rows: 27px 1Fr;
  grid-template-areas:
    "image price"
    "image property"
    "count count";
  column-gap: 16px;
  padding: 13px 0 16px;
}

.product-item:not(:first-child) {
  border-top: 1px solid #DEDEE1;
  padding-top: 11px;
}

.product-item:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .product-item {
    grid-template-columns: 106px 1Fr 100px 110px;
    grid-template-rows: minmax(96px, auto);
    grid-template-areas:
    "image property count price";
    padding-bottom: 21px;
  }

  .product-item:not(:first-child) {
    border-top: none;
  }

  .product-item:hover .product-item__icons {
    display: flex;
  }

  .product-item:last-child {
    padding-bottom: 0;
  }
}
