.card__icon {
  display: inline-block;
  margin: 0 4px 0 0;
  width: 32px;
  height: 24px;
  background-image: url('../../../images/icons/icon-card-mir.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}
