.basket-order__checkbox-decor {
  position: absolute;
  top: -3px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  cursor: pointer;
}
